<?xml version="1.0" encoding="UTF-8"?><!-- CREATE phpunit.xml TO SPECIFY LOCAL SETTINGS -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
    backupGlobals="false"
    verbose="true"
    bootstrap="web/core/tests/bootstrap.php"
    colors="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutChangesToGlobalState="true">
    <php>
        <ini name="error_reporting" value="32767"/>
        <ini name="memory_limit" value="-1"/>
        <env name="SIMPLETEST_BASE_URL" value="http://localhost/drupal/testDrupal7/web/"/>
        <env name="API_USER" value="api-user"/>
        <env name="API_PASS" value="Secret"/>
        <env name="SIMPLETEST_DB" value="mysql://root:@127.0.0.1:3306/DBTester1"/>
        <env name="BROWSERTEST_OUTPUT_DIRECTORY" value="web/sites/simpletest"/>
    </php>
    <testsuites>
        <testsuite name="custom_test">
            <directory>docroot/modules/custom/*/tests</directory>
        </testsuite>
    </testsuites>
</phpunit>